*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-family: 'poppins', sans-serif;
}

img{
    display: block;
    max-width: 100%;
}

a{
    display: inline-block;
    text-decoration: none;
}

ul{
    list-style: none;
}

html{
    font-size: 100%;
    background-color: var(--gray-900);
    color: var(--gray-100);
}

button{
    background: none;
    border: none;
    cursor: pointer;
}